body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #FFF5DE;
}

.menu {
    position: relative;
    width: 70vw;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 8em;
    right: 2em;
}

nav li {
    display: inline;
    margin: 0 0 0 1em;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(0,0,0);
}

nav li a:hover {
    color: #B07F16;
    font-weight: bold;
    text-decoration: underline #340E03 2.5px;
}

.foto-fazenda {
    width: 100vw;
}

.introduction {
    background: #FFF5DE;
    padding: 3em 0;
}

.introduction-text {
    width: 70vw;
    margin: 0em auto;
}

.introduction-text > h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 2em 0;
}

.introduction-text > p, li {
    margin: 0 0 1em;
}

.milk-glass {
    width: 10vw;
    float: left;
}

.milk-glass + p {
    padding: 2em 0 1em;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

.video {
    width: 560px;
    margin: 3em auto;
    padding: 1em 0 0;
}

footer {
    background: black;
    text-align: center;
    padding: 1em 0 3em;
}

.copyright {
    color: white;
    font-size: 13px;
}

@media screen and (max-width: 480px) {
    .video {
        width: auto;
    }

    nav {
        position: static;
        padding: 0 0 1em;
    }

    nav li {
        display: block;
        text-align: center;
        padding: 0 0 0.5em;
    }
}