header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 40px;
}

.principal h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.principal p {
    text-align: center;

}

.principal strong {
    font-weight: bold;
}

em strong {
    color: rgb(255, 0, 0);
    font-style: italic;
}

.beneficios {
    background: rgb(255,255,255);
    padding: 20px;
}

.beneficios h3 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

.lista {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 10%;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 50px;
}

.itens {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 0;
}

.imagembeneficios {
    width: 40%;
}

footer {
    text-align: center;
    background: url("images/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}